@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@font-face {
  font-family: almoni-dl;
  src: url("https://assets.kalir.co.il/fonts/almoni-dl-aaa-700.woff")
    format("woff");
}
body {
  background-color: #eee;
  color: black;
  font-family: "open sans hebrew";
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.user {
  margin: auto;
  width: 250px;
  height: 250px;
  background-color: rgb(233, 233, 233);
  display: block;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(206, 206, 206);
}
.nick {
  text-align: right;
  font-weight: bold;
  color: #ff8600;
}
.tatnick {
  text-align: right;
  font-size: 13px;
  color: #0099ff;
  font-weight: bold;
}
.image {
  height: auto;
  width: 250px;
  border-radius: 20px;
}

.result {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.tatRes {
  width: 512px;
  height: 85px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
}

.textIn {
  display: flex;
  justify-content: center;
  margin: 15px;
  height: 30px;
}

.textIn input {
  text-align: right;
  width: 50vh;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
  border-radius: 5px;
}

.colorChoose {
  align-items: center;
  justify-content: center;
  display: flex;
}

.addBg {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.cb {
  padding: 3px;
  margin: 5px;
  margin: 5px;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
  border-radius: 20px;
}

.size {
  justify-content: center;
  display: flex;
}
.slider {
  -webkit-appearance: none;
  width: 25%;
  height: 15px;
  border-radius: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff8600;
  box-shadow: 0px 0px 5px rgb(146, 146, 146);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.specialEffects {
  justify-content: center;
  display: flex;
}

.guystyle {
  font-weight: bold;
  color: #015b4a;
  font-family: "Rancho", cursive;
  font-size: 28px;
  text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
  -webkit-text-shadow: 0.04em 0.04em 0 #fff, 0.08em 0.08em 0 #aaa;
}

.abir {
  font-weight: bold;
  font-family: open sans hebrew;
  font-size: 12pt;
  animation-name: color_change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes color_change {
  from {
    color: blue;
  }

  to {
    color: red;
  }
}

.reset {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.reset button {
  outline: none;
  border: none;
  background-color: rgb(214, 214, 214);
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(141, 141, 141);
  padding: 5px;
  margin: 5px;
}

.fontChoose {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.fontChoose select {
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
  background-color: #eee;
  color: #ff8600;
  font-weight: bold;
}

.fontChoose option:checked {
  color: #eee;
  background-color: #ff8600;
  font-weight: bold;
}

.content {
  min-height: calc(100vh - 70px);
}

footer {
  height: 50px;
  justify-content: center;
  display: flex;
}

footer a {
  color: #ff8600;
}

footer a:hover {
  color: #069;
  font-weight: bold;
}
