body {
  background-color: #eee;
  color: black;
  font-family: "open sans hebrew";
}
.user {
  margin: auto;
  width: 250px;
  height: 250px;
  background-color: rgb(233, 233, 233);
  display: block;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(206, 206, 206);
}
.nick {
  text-align: right;
  font-weight: bold;
  color: #ff8600;
}
.tatnick {
  text-align: right;
  font-size: 13px;
  color: #0099ff;
  font-weight: bold;
}
.image {
  height: auto;
  width: 250px;
  border-radius: 20px;
}

.result {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.tatRes {
  width: 512px;
  height: 85px;
  border-radius: 20px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
}

.textIn {
  display: flex;
  justify-content: center;
  margin: 15px;
  height: 30px;
}

.textIn input {
  text-align: right;
  width: 50vh;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px rgb(187, 187, 187);
  border-radius: 5px;
}

.options {
  color: black;
}

.options input {
  border-radius: 10px;
}

.colorChoose {
  align-items: center;
  justify-content: center;
  display: flex;
}
